body {
   background-image: url("https://wallpaperaccess.com/full/307214.jpg");
   background-repeat: no-repeat;
   background-size: 1600px 1100px;
   color: rgb(216, 211, 300);
   font-family: Arial, Garamond, sans-serif;
   margin: 7% 5%;
  
}

.Exp {
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(0, 226, 255 );
  background-color: rgb(139, 137, 137);
  color: rgb(73, 74, 75);
    
}

h1 {
  font-family: Courier New;
  border-bottom: 2px solid;
}

h5, h6{
  margin: 0;
  padding: 
}

h4 {
  border-bottom: 2px solid;
  border-width: thin;
}

.contents {
  font-size: 14px;
}

img {
  width: 17%;
  position: relative; top: -14px;
}

.school{
  margin: 2%   
}
